.footer {
  &-primary {
    background: $main-bg;
    color: $gray-tertiary;
    padding: 50px 0;
    font-weight: 300;

    &-inner {
      display: grid;
      grid-template-areas:
        'nav'
        'contact'
        'connect';
      row-gap: 52px;

      @include media-breakpoint-up(lg) {
        grid-template-areas:
          'nav nav'
          'connect contact';
      }
    }
  }

  &-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    text-transform: uppercase;

    ul {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      row-gap: initial;
      column-gap: 60px;
      display: flex;

      ul {
        width: auto;
      }
    }
  }

  &-contact {
    grid-area: contact;

    h1 {
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      font-weight: inherit;

      span {
        font-weight: 400;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 18px;

      span:last-child {
        color: $brand-primary;
      }
    }
  }

  &-connect {
    grid-area: connect;
    justify-self: center;

    ul {
      display: flex;
      gap: 30px;
      text-transform: uppercase;
      font-size: 14px;

      i[class*='fa-'] {
        display: block;
        font-size: 40px;
        color: $brand-primary;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    @include media-breakpoint-up(lg) {
      justify-self: start;
      align-self: center;
    }
  }

  &-secondary {
    text-align: center;
    color: $gray-primary;

    p:first-child {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
