.footer {
  &-primary {
    background: $main-bg;
    color: $gray-tertiary;
    padding: 50px 0;

    &-inner {
      display: grid;
      grid-template-areas:
        'nav'
        'contact'
        'connect';
      row-gap: 52px;

      @include media-breakpoint-up(lg) {
        grid-template-areas:
          'nav nav'
          'connect contact';
      }
    }
  }

  &-nav {
    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;

    ul {
      width: 50%;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      row-gap: initial;
      column-gap: 60px;
      display: grid;
      grid-template: 1fr / repeat(4, 1fr) 477px;

      ul {
        width: auto;
      }
    }
  }

  &-contact {
    grid-area: contact;
  }

  &-connect {
    grid-area: connect;
    justify-self: center;

    @include media-breakpoint-up(lg) {
      justify-self: start;
      align-self: center;
    }
  }
}
